node_modules
.pnpm-store
pnpm-debug.log*

.next
out
dist
.turbo
*.tsbuildinfo

.eslintcache

next-env.d.ts

.env
.env.local
.env.*.local

.vercel
.aws-sam
.DS_Store

packages/web/public/compatibility.json
