node_modules
.pnpm-store
pnpm-debug.log*

.next
out
dist
.turbo
*.tsbuildinfo

.eslintcache
coverage

next-env.d.ts


.vercel
.aws-sam
.DS_Store

*.log
.firebase

.deployed

.env
.env.*
!.env.sample
packages/web/public/compatibility.json
